#camera-input{
    position: absolute;
    z-index: 100;
    width: 100%;
}

.overlay{
    position: absolute;
    z-index: 101;
    opacity: 0.5;
    width: 100%;
}

#captured-image
{
    position: absolute;
}

#slider-opacity
{
    width: 100%;
}
